.header {
  height: 9vh;
  color: white;
  font-weight: 600;
}

.contWidth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  height: 9vh;
}

#title {
  margin-left: 24px;
  font-size: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#title:hover {
  color: #dddddd;
}

#button {
  background-color: rgba(201, 201, 201, 0.137);
  backdrop-filter: blur(1vw);
  width: 10vw;
  margin-left: 3vw;
  min-width: 100px;
  min-height: 35px;
}

#avatar {
  margin-left: 1vw;
  width: 48px;
  height: 48px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
#avatar:hover {
  border: 2px solid #3f51b5;
  border: 2px solid #334194;
}

/*
  Settings
  ====================================================
*/

.settingsContainer {
  display: flex;
  padding: 30px 55px 20px 45px;
}

.settingsPhoto {
  object-fit: cover;
  border: 1px solid rgb(221, 221, 221);
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin: 0px 60px 0px 12px;
}

.userInfo {
  font-size: 20px;
  line-height: 36px;
}

.username {
  font-weight: 600;
}