
/* If the screen size is 601px or more */
@media only screen and (min-width: 601px) {

  .title {
    margin-left: 16px;
  }
  button.pages {
    margin-right: 20px;
  }
  .settingsContainer {
    padding: 30px 50px 30px 50px;
  }
  .settingsPhoto {
    width: 120px;
    height: 120px;
    margin-left: 10px;
    margin-bottom: 12px;
  }
  .settingsLeft {
    margin-right: 60px;
  }
  .settingBox {


    width: 220px;
    padding: 10px;

    margin: 20px 0px 5px 0px;

  }
}

/* If the screen size is 600px or less */
@media only screen and (max-width: 600px) {
  .contWidth {
    margin-top: 8px;
  }
  .title {
    display: none;
  }
  #title {
    margin-left: 0px;
  }
  button.pages {
    font-size: 10px;
    margin-right: 5px;
  }
  .settingsContainer {
    padding: 10px 20px 15px 20px;
  }
  .settingsPhoto {
    width: 80px;
    height: 80px;
    margin-left: 0px;
    margin-bottom: 2px;
  }
  .settingsLeft {
    margin-right: 20px;
  }
  .settingBox {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    /* height: 100%; */
    padding: 10px;
    /* border-radius: 4px; */
    margin: 20px 0px 5px 0px;
    /* border: 1px solid rgb(200, 200, 200); */
  }
}

button.pages {
  color: white;
}
.header {
  height: 74px;
  color: white;
  font-weight: 600;
  padding-right: 0px;

}


.contWidth {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  height: 9vh;
}

#title {
  font-size: 34px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#title:hover {
  color: #dddddd;
}

#button {
  background-color: rgba(201, 201, 201, 0.137);
  backdrop-filter: blur(1vw);
  width: 10vw;
  margin-left: 3vw;
  min-width: 100px;
  min-height: 35px;
}

#avatar {
  margin-left: 1vw;
  width: 48px;
  height: 48px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
#avatar:hover {
  border: 2px solid #dddddd;
}

/*
  Settings
  ====================================================
*/

.settingsContainer {
  display: flex;
  /* padding: 30px 50px 30px 50px; */
}

.settingsPhoto {
  object-fit: cover;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 50%;
}

.userInfo {
  font-size: 20px;
  line-height: 36px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.username {
  font-weight: 600;
}

.settings {
  display: flex;
  flex-direction: column;
  height: 570px;
}

.settingBox {
  display: flex;
  flex-direction: column;
  /* width: 220px; */
  /* padding: 10px; */
  border-radius: 4px;
  /* margin: 20px 0px 5px 0px; */
  border: 1px solid rgb(200, 200, 200);
}