.header {
  height: 9vh;
  color: white;
  font-weight: 600;
}

.contWidth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  height: 9vh;
}

#title {
  margin-left: 24px;
  font-size: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
}
#title:hover {
  color: #dddddd;
}

#button {
  background-color: rgba(201, 201, 201, 0.137);
  backdrop-filter: blur(1vw);
  width: 10vw;
  margin-left: 3vw;
  min-width: 100px;
  min-height: 35px;
}

#avatar {
  margin-left: 1vw;
  width: 3vw;
  height:3vw;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/*
  Settings
  ====================================================
*/

.settingsContainer {
  display: flex;
  top: 20px;
  padding: 30px 40px;
}

.settingsPhoto {
  object-fit: cover;
  border: 1px solid rgb(221, 221, 221);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 40px;
}

.userInfo {
  margin-top: 14px;
  font-size: 20px;
  line-height: 36px;
}

.username {
  font-weight: 600;
}