@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


/* If the screen size is 601px or more*/
@media only screen and (min-width: 601px) {
  .messageContainer {
    width: 72vw;
  }
  .avatar {
    width: 80px;
    height: 80px;
  }
  .senderInfo {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    margin-left: 7%;
    margin-bottom: 10px;
  }
  .stamp {
    width: 64px;
    height: 64px;
    /* margin-top: -10px */
  }
  .messagePhoto {
    margin-left: 2vw;
    width: 31.5vw;
    height: 36vh;
  }
  .left {
    font-size: 20px;
  }
  .name {
    line-height: 38px;
  }
  .username {
    line-height: 38px;
  }
  .time {
    margin-bottom: 10px;
    margin-right: -30px;
  }
}

/* If the screen size is 600px or less --PHONE--*/
@media only screen and (max-width: 600px) {
  .messageContainer {
    width: 75%;
  }
  .stamp {
    width: 40px;
    height: 40px;
    margin-right: -15px;
    margin-top: -10px;
  }
  .avatar {
    width: 40px;
    height: 40px;
  }
  .senderInfo {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
    font-size: 12px;
    margin-left: 7px;
  }
  .name {
    line-height: 20px;
  }
  .username {
    line-height: 20px;
  }
  .messagePhoto {
    align-self: center;
    margin-left: 6px;
    width: 31.5vw;
    height: 20vh;
  }
  .name {
    line-height: 20px;
  }
  .arrowLeft {
    left: -5px;
  }
  .arrowRight {
    right: -5px;
  }
  .left {
    font-size: 14px;
  }
}


.font1 {
  font-family: 'IBM Plex Serif', serif;
}
.font2 {
  font-family: 'Caveat', cursive;
}
.font3 {
  font-family: 'Indie Flower', cursive;
}
.font4 {
  font-family: 'Yellowtail', cursive;
}


.messageContainer {
  margin-top: 12vh;
  margin-bottom: 30px;
  height: 70vh;
  display: flex;
  justify-items: center;
  align-content: center;
}

.message {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stamp {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #78D1AD;
  color: white;
  border-image: url(../../public/stamp-border.png) 9 round;
	border-width: 4pt;
  border-style: solid;
  border-image-outset: 5px;
  box-shadow: 0 0 4px 3px black;
  margin-bottom: 30px;
}

.messagePhoto {
  object-fit: cover;
  border-radius: 5px;
}

.time {
  align-self: flex-end;
  font-style: italic;
}

.avatar {
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 1px solid rgb(228, 228, 228);
}

.name {
  border-bottom: 1px solid black;
}

.username {
  font-weight: 600;
  border-bottom: 1px solid black;
}

.left {
  border-right: 1px solid black;
  width: 50%;
  padding-right: 40px;
}

.button {
  margin-top: 10px;
  width: 300px;
  color: white;
  padding: 6px 0px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}
