.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageContainer {
  margin: 30px 0px;
  height: 70vh;
  width: 80vw;
  display: flex;
  justify-items: center;
  align-content: center;
  overflow: hidden;
  box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.20);
  border-radius: 30px;
  background: rgb(253, 251, 242);
}

.message {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stamp {
  align-self: flex-end;
  background: linear-gradient(to right bottom, #04cccc, #955ad4);
  width: 80px;
  height: 100px;
  border-radius: 20px;
}

.senderInfo {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left: 27%;
  margin-bottom: 40px;
}

.avatar {
  width: 80px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
  border: 1px solid rgb(228, 228, 228);
}

.username {
  border-bottom: 1px solid black;
  line-height: 45px;
}

.name {
  border-bottom: 1px solid black;
  line-height: 45px;
}

.left {
  font-size: 20px;
  border-right: 1px solid black;
  width: 50%;
  padding-right: 40px;
}

.replyButton {
  margin-top: 10px;
  width: 300px;
  background: linear-gradient(to right, #04cccc, #955ad4);
  border: none;
  color: white;
  padding: 6px 0px;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

/*
Curl page
=================================================================
*/

.curl{
  width: 50px;
  height: 50px;
  border-top-left-radius: 30px;
  position: sticky;
  left: calc(100% - 50px);
  top: calc(100% - 50px);
	z-index: 1000;
  overflow: hidden;
  background: rgb(255, 255, 255);
  box-shadow: -3px -3px 5px -2px rgba(128, 128, 128, 0.473), 10px 10px white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.curl .curlcontent{
  overflow: hidden;

  position: absolute;
  right: 0px;
  bottom: 0px;
}

.curl:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  bottom: 0;
  left: auto;
  right: 0;
  transform: rotate(225deg) translateX(70%) scale(1.4);
  background: #ffffff;
  /* background: -moz-linear-gradient(right,  #afafaf 0%, #ffffff 29%); */
  /* background: -webkit-linear-gradient(right,  #afafaf 0%,#ffffff 29%); */
  background: linear-gradient(to right,   #afafaf 0%,#ffffff 29%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#ffffff',GradientType=1 ); */

}

.curl:hover{
  width: 100px; /* width of page curl when mouse over */
  height: 100px; /* height of page curl when mouse over */
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: -5px -5px 20px -15px  rgba(128, 128, 128, 0.473), 10px 10px white ;
}
.curl:active {
  /* position: absolute; */
  width: 100vmax;
  height: 100vmax;

  transition: all 1.3s;
  overflow: hidden;
  /* transform: rotate(-45deg); */
  transform-origin: left;
  background: linear-gradient(to bottom, #afafaf 0%,#ffffff 100%);

  box-shadow: -5px -5px 20px -15px  rgba(128, 128, 128, 0.473);
}
/* box-shadow: 0 8px 6px -6px black */
.curl .button {
  border: none;
  width: 100px;
  height: 100px;
}