@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.font1 {
  font-family: 'IBM Plex Serif', serif;
}
.font2 {
  font-family: 'Caveat', cursive;
}
.font3 {
  font-family: 'Indie Flower', cursive;
}
.font4 {
  font-family: 'Yellowtail', cursive;
}
.font {
  border: 1px solid rgb(211, 211, 207);
  border-radius: 4px;
  background: none;
  font-size: 18px;
  padding: 4px 8px;
  cursor: pointer;
  margin-right: 1px;
}
.font:focus {
  outline: none;
}

.messageContainer {
  width: 72vw;
  margin-top: 12vh;
  margin-bottom: 30px;
  height: 70vh;
  display: flex;
  justify-items: center;
  align-content: center;
}

.messagePhoto {
  width: 31.5vw;
  height: 36vh;
  margin-left: 2vw;
  object-fit: cover;
  border-radius: 5px;
}

.message {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topRight {
  display: flex;
  justify-content: flex-end;
}

.uploadButton {
  font-size: 10;
  margin-right: 25%;
}

.stampContainer {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center
}

.stamp {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f51b5;
  width: 64px;
  height: 80px;
  color: white;
  background: radial-gradient(
		transparent 0px,
		transparent 4px,
		#3f51b5 4px,
		#3f51b5
  );
  background-size: 16px 16px;
  background-position: -8px -8px;
}

.stampFill {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3f51b5;
  height: 60px;
  width: 50px;
}

.addButton {
  font-size: 12px;
  margin-top: 10px;
}

.senderInfo {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  margin-left: 24%;
  margin-bottom: 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 1px solid rgb(228, 228, 228);
}

.username {
  font-weight: 600;
  border-bottom: 1px solid black;
  line-height: 38px;
}

.name {
  border-bottom: 1px solid black;
  line-height: 38px;
}

.left {
  font-size: 20px;
  border-right: 1px solid black;
  width: 50%;
}

.input {
  width: 90%;
  height: 55vh;
  text-align: start;
  border: 1px solid rgb(211, 211, 207);
  resize: none;
  font-size: 24px;
  background: none;
  border-radius: 4px;
  padding: 10px;
}

.input:focus {
  outline: none;
}

.sendButton {
  margin-top: 10px;
  width: 300px;
  border: none;
  color: white;
  padding: 6px 0px;
  font-size: 20px;
  cursor: pointer;
}
