.messageContainer {
  margin: 30px 0px;
  height: 70vh;
  width: 80vw;
  display: flex;
  justify-items: center;
  align-content: center;
  box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.20);
  border-radius: 30px;
  background: rgb(253, 251, 242);
}

.message {
  width: 100%;
  height: 100%;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stamp {
  align-self: flex-end;
  background: linear-gradient(to right bottom, #04cccc, #955ad4);
  width: 80px;
  height: 100px;
  border-radius: 20px;
}

.senderInfo {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left: 27%;
  margin-bottom: 40px;
}

.avatar {
  width: 80px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
  object-fit: cover;
  border: 1px solid rgb(228, 228, 228);
}

.username {
  border-bottom: 1px solid black;
  line-height: 45px;
}

.name {
  border-bottom: 1px solid black;
  line-height: 45px;
}

.left {
  font-size: 20px;
  border-right: 1px solid black;
  width: 50%;
}

.input {
  width: 90%;
  height: 55vh;
  text-align: start;
  border: 1px solid rgb(211, 211, 207);
  resize: none;
  font-size: 24px;
  background: none;
}

.input:focus {
  outline: none;
}
