


/* If the screen size is 601px or more */
@media only screen and (min-width: 601px) {
  .messContainer {
    width: 60vw;
    margin: 0px 20px 0px;
    padding: 20px 30px;
    margin-bottom: 40px;
  }
  .messTop {
    display: flex;
    justify-content: space-between;
    width: 56vw;
    margin-bottom: 30px;
  }
  .messContent {
    width: 34vw
  }
  .username {
    font-size: 20px;
    font-weight: 600;
  }
  .img {
    width: 70px;
    height: 70px;
  }
  .search {
    padding: 8px;
    width: 61vw;
  }
.singleImage {
    margin-top: 16px;
    margin-left: 90px;
    object-fit: cover;
    width: 39vw;
    height: 44vh;
  }
}

/* If the screen size is 600px or less */
@media only screen and (max-width: 600px) {
  .messContainer {
    width: 90vw;
    margin: 0px 20px 0px;
    padding: 20px 30px;
    margin-bottom: 40px;
  }
  .messTop {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin-bottom: 30px;
  }
  .messContent {
    width: 90vw
  }
  .username {
    font-size: 16px;
  }
  .singleImage {
    margin-top: 16px;
    margin-left: 9px;
    object-fit: cover;
    width: 70vw;
    height: 70vw;
  }
}
.container {
  margin-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.messHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.username {
  font-weight: 600;
}

.messProfile {
  display: flex;
  align-items: center;
}

.messAvatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 1px solid rgb(228, 228, 228);
}

.messText {
  margin-left: 90px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.replyButton {
  width: 100px;
  height: 40px;
}

.singleImage {
  border-radius: 5px;
}