.footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  padding: 3vw;
  text-align: center;
  height: 1vh;
  bottom: 0;
  left: 0;
}
.container {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
}
#name{
  margin-left: 1vw;
  font-size: 1.5em;
}
#button {
  background-color: rgba(201, 201, 201, 0.137);
  backdrop-filter: blur(1vw);
  border-radius: 3vw;
  border: none;
  width: 30vw;
  height: 4vh;
  min-height: 35px;
  margin-left: 3vw;
}
#avatar {
  align-self: center;
  width: 5vw;
  height: 5vw;
  border-radius: 5vw;
}