@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 100;
  background: #50e21f;
}

html, body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 100;
  background: #50e21f;
}